.modal{
    height: 100%;
    width: 100vw;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
    overflow: auto;
}
.modal.active{
    opacity: 1;
    pointer-events: all;
}
.modal__content{
    padding: 20px;
    border-radius: 12px;
    background-color: white;
    width: 50vw;
    overflow: auto;
}
.modal__header{
    border-bottom: #999 1px solid;
    width: 100%;
    align-items: center;
}

li{
    list-style: none;
}

.modal__container{
    margin: 20px 0 ;
    display: flex;
    flex-direction: column;
}
.modal__container-header{
    display: grid;
    grid-template-columns: 1fr 4fr repeat(4,1fr);
}

.modal__container-name{
    grid-column-start: 1;
    justify-self: center;
    color: blue;
}
    
.modal__container-level{
    grid-column-start: 3;
    justify-self: center;
    color: blue;
}
.modal__container-data{
    grid-column-start: 5;
    justify-self: center;
    color: blue;
}
.item__container{
   margin: 10px 0;
    grid-template-columns: 1fr 4fr repeat(4,1fr);
    border-bottom: 1px solid grey;
    display: grid;
}
.item__container:hover {
    background: rgba(211, 211, 211, .3) ;
    border-bottom: 5px solid grey;      
}
.item__container:hover .item__btn{
    display: flex;
    grid-column-start: 2;
    justify-content: center;
    align-items: center;
}
.item__container:hover .item__name{
 color: red;
 font-style: italic;
 font-weight: bolder;
}

.item__icon{
    align-items: center;
    width: 60%;
}
.item__name{
    grid-column-start: 2;
    display: flex;
    flex-direction: column;
}
.item__level{
    grid-column-start: 3;
    display: flex;
    flex-direction: column;
}
.item__data{
    grid-column-start: 5;
    display: flex;
    flex-direction: column;
}
.item__btn{
   display: none;
}


.item__button{
    grid-column-start: 2;
    margin-left: 50px;
    cursor: pointer;
  background-color: lightblue;
  border: none;
  width: 40%;
  height: 20px;
  border-radius: 20px;
  margin-bottom: 2%;
}
.item__button:hover {
    background-color:  #991;;
    color: white;
  }
.item__btn-del{
    grid-column-start: 6;
    cursor: pointer;
    background-color: lightcoral;
    border: none;
    width: 90%;
     height: 30px;
     border-radius: 20px;
     margin-bottom: 2%;
}
.item__btn-del:hover {
    background-color:  lightsalmon;;
    color: white;
  }

.modal__list{
    display: flex;
    flex-direction: column;            
}
.modal__list-li{
    border-bottom: #999 1px solid; 
    margin-top: 10px;     
}

.modal__button{
    cursor: pointer;
    background-color: lightseagreen;
    border: none;
    width: 30%;
     height: 30px;
     border-radius: 20px;
     margin-bottom: 2%;
    margin-left: 2%;
    margin-top: 2%;
}
.modal__button:hover {
    background-color:  lightgreen;;
    color: white;
  }

.modal__input{
    width: 40%;
    border: none;
    border-bottom: 2px solid grey;
}